.table {
	width: 60%;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	border-collapse: collapse; 
	outline: 3px solid #ffd300;
	font-size: 15px;
	background: #fff!important;
    margin: auto;
	table-layout: fixed;
}
.table th {
	font-weight: bold;
	padding: 10px 15px;
	background: #ffd300;
	border: none;
	text-align: center;
	font-size: 15px;
	border-top: 3px solid #fff;
	border-bottom: 0px solid #ffd300;
}
.table td {
	padding: 10px 15px;
	border: none;
	border-top: 1px solid #ffd300;
	border-bottom: 1px solid #ffd300;
	font-size: 15px;
    text-align: center;
    border-left: 1px solid #ffd300;
	border-right: 1px solid #ffd300;
}
.table thead tr th:first-child, .table tbody tr td:first-child {

	border-left: none;

}
.table thead tr th:last-child, .table tbody tr td:last-child {

	border-right: none;

}
thead th:nth-child(1) {
	width: 20%;
}
thead th:nth-child(2) {
	width: 65%;
}
thead th:nth-child(3) {
	width: 15%;
}
.table tbody tr:nth-child(even){
	background: #f8f8f8!important;
}



.container {
    margin: 50px auto;
    width: 50%;
    max-width: 500px;
}

.container ul {
    margin: 50px 0;
    list-style: none;
}

.button-1 {
    color: #766AD0;
    border: 1px solid #3A374C;
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    padding: 15px 30px;
    transition: .3s linear;
}

.button-1:before, .button-1:after, .link-content:before, .link-content:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 15px;
    height: 15px;
    transition: .3s linear;
}

.button-1:before {
    left: -1px;
    top: -1px;
    border-left: 1px solid #614DFF;
    border-top: 1px solid #614DFF;
}

.button-1:after {
    bottom: -1px;
    right: -1px;
    border-bottom: 1px solid #614DFF;
    border-right: 1px solid #614DFF;
}