{% extends 'main.html' %}

{% block main_data %}
<div class="card" align="center">
    <div class="card-body">
        <h2 class="card-title">Войти в аккаунт</h2>
        <br>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            
            <!--{{ form.as_p }}-->
            {{ form }}
            
            <button type="submit" class="btn btn-primary btn-block">Войти</button>
            <a href="{% url 'users:password_reset' %}">Забыли пароль?</a>
        </form>
    </div>
</div>
{% endblock %}