{% extends 'main.html' %}

{% block title %}Смена пароля{% endblock %}

{% block main_data %}
<!--
<div class="container" align="center">
    <br>
    <p>Подтвердите сброс пароля по электронной почте.</p>
    <a href="{% url 'users:login' %}">Вернуться на страницу входа</a>
</div>
-->
<div class="card" align="center">
    <div class="card-body">
        <h2 class="card-title">Смена пароля</h2>
        <br>
        <form method="post">
            {% csrf_token %}
            <!--{{ form.as_p }}-->
            {{ form }}
        
            <button type="submit" class="btn btn-primary btn-block">Сменить</button>
        </form>
    </div>
</div>
{% endblock %}