{% extends 'users/main.html' %}

{% block main_data %}
<div class="card" align="center">
    <div class="card-body">
        <h2 class="card-title">Сброс пароля</h2>
        <br>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            <!--{{ form.as_p }}-->
            {{ form }}
        
            <button type="submit" class="btn btn-primary btn-block">Сбросить</button>
        </form>
    </div>
</div>
{% endblock %}