{% extends 'firstapp/main.html' %}

{% block main_data %}
<!--
<div class="container">
    <br>
	<h2 align="center">Детали записи</h2>
    <br>
    <div class="mb-3">
        <label class="form-label">Запись #{{ context.id }}</label>
        <label class="form-label">Заголовок: {{ context.title }}</label>
        <label class="form-label">Описание: {{ context.description }}</label>
        <label class="form-label">Дата создания: {{ context.date }}</label>
    </div>
    <div class="mb-3" align="center">
        <button class="btn btn-primary" onclick="window.location='../create';">Добавить запись</button>
        <form action="{% url 'firstapp:edit' pk=context.pk %}">
            <button class="btn btn-primary" data-mdb-ripple-color="dark" type="submit">Изменить запись</button>
        </form>
        <form action="{% url 'firstapp:delete' pk=context.pk %}">
            <button class="btn btn-primary" data-mdb-ripple-color="dark" type="submit">Удалить запись</button>
        </form>
    </div>
    <br>
    <br>
</div>
-->
<div class="container">
    <br>
	<h2 align="center">Детали записи</h2>
    <br>
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Запись #:</label>
            <div class="col-sm-10">
                <input class="form-control mb-2" id="id_{{ context.id.name }}" name="id_{{ context.id.name }}" type="text" value="{{ context.id }}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Дата создания:</label>
            <div class="col-sm-10">
                <input class="form-control mb-2" id="id_{{ context.date.name }}" name="id_{{ context.date.name }}" type="text" value="{{ context.date }}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Заголовок:</label>
            <div class="col-sm-10">
                <input class="form-control mb-2" id="id_{{ context.title.name }}" name="id_{{ context.title.name }}" type="text" value="{{ context.title }}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Описание:</label>
            <div class="col-sm-10">
                <textarea class="form-control mb-2" id="id_{{ context.description.name }}" name="{{ context.description.name }}" rows="5" disabled>{{ context.description }}</textarea>
            </div>
        </div>
    </form>
    <br>
</div>
<div align="center">
    <button class="btn btn-primary" type="submit" formaction="{% url 'firstapp:list' %}">Назад</button>
    <button class="btn btn-primary" type="submit" formaction="{% url 'firstapp:edit' pk=context.pk %}">Изменить</button>
    <button class="btn btn-primary" type="submit" formaction="{% url 'firstapp:delete' pk=context.pk %}">Удалить</button>
</div>
{% endblock %}