{% extends 'firstapp/main.html' %}

{% block main_data %}
<div class="container">
    <br>
	<h2 align="center">Мои записи</h2>
    <br>
	{% if point %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Заголовок</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for zapis in point %}
                    <tr>
                        <th scope="row">{{zapis.id}}</th>
                        <td>{{zapis.title}}</td>
                        <td>{{zapis.description}}</td>
                        <td>{{zapis.date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
	{% else %}
		<p>У вас нет записей</p>
	{% endif %}
    <br>
    <div align="center">
        <button class="btn btn-primary" onclick="window.location='../create';">Добавить запись</button>
    </div>
</div>
{% endblock %}