{% extends 'firstapp/main.html' %}

{% block main_data %}
<div class="container">
    <br>
    <h2 align="center">Добавить запись</h2>
    <br>
    <!--
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="submit-row">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
    -->
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">{{ form.title.label }}:</label>
            <input type="text" class="form-control" id="FormControlInput1" name="{{ form.title.name }}" required="required" maxlength="50">
        </div>
        <div class="mb-3">
            <label class="form-label">{{ form.description.label }}:</label>
            <textarea class="form-control" id="FormControlTextarea1" rows="3" name="{{ form.description.name }}" required="required" maxlength="250"></textarea>
          </div>
        <div class="submit-row">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
</div>
{% endblock %}