{% extends 'main.html' %}

{% block main_data %}
<div class="container" style="width: 600px;">
    <br>
    <h2 align="center">{{ action }}</h2>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        <!--{{ form.as_p }}-->
        <div class="mb-3">
            <label class="form-label">{{ form.title.label }}:</label>
            <input class="form-control form-control-lg mb-2" id="id_{{ form.title.name }}" name="{{ form.title.name }}" type="text" placeholder="{{ form.title.label }}"
                required="required" maxlength="50" {% if form.title.value %} value="{{ form.title.value }}" {% endif %}>

            <label class="form-label">{{ form.description.label }}:</label>
            <textarea class="form-control" id="id_{{ form.description.name }}" name="{{ form.description.name }}" rows="5" placeholder="{{ form.description.label }}"
                required="required" maxlength="250">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
        </div>
        <div class="submit-row">
            <button class="btn btn-primary" type="submit">{{ action }}</button>
        </div>
    </form>
</div>
{% endblock %}