<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'firstapp:list' %}">Записки</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'firstapp:list' %}">Мои записки</a>
                    <a class="nav-link" href="{% url 'users:password_change' %}">Сменить пароль</a>
                    <a class="nav-link" href="{% url 'users:logout' %}">Выйти</a>
                {% else %}
                    <a class="nav-link" href="{% url 'users:register' %}">Регистрация</a>
                    <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
                {% endif %}
            </div>
            <span class="navbar-text">
                Здравствуйте, {% if user.is_authenticated %}{{ user }}{% else %}Гость{% endif %}.
            </span>
        </div>
    </div>
</nav>